<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">

<div class="panel panel-default" id="ce-panel">
    <div class="panel-heading">
        <span style="">Community Events</span>
        <button class="btn btn-default btn-md" style="margin-left: 80%;  border-radius : 45%;" id="add">
            <i class="fas fa-plus"></i>
        </button>
    </div>

    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Event Name</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="events-table">

            </tbody>
        </table>
    </div>

    {{!-- <div class="panel-footer">
        <div class="" style="padding-left: 92%;">
            <button type="submit" class="btn btn-success" style="">Submit</button>
        </div>
    </div> --}}
</div>

{{!-- New Event Form --}}
<div class="modal" id="modal-add-event-form" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Submit Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="event-form">
                    <div class="form-group">
                        <label class="control-label" for="name">Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="nameHelp" />
                        <small id="nameHelp" class="form-text text-muted">Your first name only</small>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="event-name"> Event Name</label>
                        <input type="text" class="form-control" id="event-name" aria-describedby="EventNameHelp"
                            placeholder="" />
                        <small id="EventNameHelp" class="form-text text-muted">e.g. CalPACE Conference</small>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="date">Date</label>
                        <input type="date" class="form-control" id="date" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="location">Location</label>
                        <input type="text" class="form-control" id="event-location" />
                    </div>

                    <div class="form-group">
                        <label for="notes">Additional Details <em>(e.g. speakers, participants, type of events, etc.)</em></label>
                        <textarea class="form-control" id="notes" rows=3></textarea>
                    </div>
                    {{!-- hashtag checkboxes are dynamically added to the end of this form --}}

                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submit">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{{!-- More info modal --}}

<div id="modal-more-info" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="mi-title"> </h4>
            </div>
            <div class="modal-body">
                <style>
                    #mi-list {
                        list-style: none;
                    }
                    
                    .mi-heading {
                        font-weight: bolder;
                        margin-top: 1em;
                    }
                </style>
                <ul id="mi-list">
                    <li class="mi-heading">Date</li>
                    <li id="mi-date"></li>
                    <li class="mi-heading">Location</li>
                    <li id="mi-location"></li>
                    <li class="mi-heading">Details</li>
                    <li id="mi-details"></li>
                    <li class="mi-heading">Hashtags</li>
                    <li id="mi-hashtags"></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
<script src="/assets/js/helpers.js"></script>
<script src="/assets/js/comme.js"></script>