<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Relation</th>
            <th>Home</th>
            <th>Cell</th>
            <th>Work</th>
        </tr>
        <tbody id="contact-list">

        </tbody>
    </thead>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/assets/js/ec.js"></script>