<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="assets/css/empnums.css" />

<div class="flex-container">
    <div class="sides"></div>
    <div class="center">
        <table id="contact-info-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Cell</th>
                    <th>Home</th>
                    <th>Work</th>
                    <th>Calling Instructions</th>
                </tr>
            </thead>
            <tbody id="contact-info-tbody">

            </tbody>
        </table>
    </div>
    <div class="sides"></div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="assets/js/empnums.js"></script>
