<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/assets/style.css">
<link rel="stylesheet" href="/assets/css/statusbutton.css">
<style>
.dataTables_paginate {
    width: 100%;
}

</style>
<div class="container">
    <div clas="row">
        <div class="col-lg-8">
            <!-- LEFT COLUMN -->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    In/Out Board &nbsp; &nbsp; &nbsp;
                    <button class="statusButton" style="border: 1px solid black;" disabled="true"></button> = Out  &nbsp;
                    <button class="statusButton statusIn" disabled="true"></button> = In  &nbsp;
                    <button class="statusButton statusRemote" disabled="true"></button> = Remote  &nbsp;
                    <span class="glyphicon glyphicon-user ph-icon" aria-hidden="true"></span>
                </div>
                <div class="panel-body" id="iob-body">
                    <!-- Table -->
                    <table class="table table-hover tighten">
                        <tbody id="inoutboard">
                          <tr class="iob-row">
                              <th>Angel</th>
                              <td>
                                {{!-- <span class="in-label">In</span>
                                <span class="out-label">Out</span>
                                <span class="remote-label">Remote</span> --}}
                                <button class="statusButton"></button>
                                
                              </td>
                              <td>125</td>
                          </tr>
                        </tbody>
                    </table>
                    </ul>
                </div>
                <!-- End panel body -->
            </div>
            <!-- End in/out panel -->
            <!-- Sub-row -->
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Workloads <span class="glyphicon glyphicon-tag ph-icon" aria-hidden="true"></span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <center>
                                    <div class="col-sm-6" data-entity="admin" data-status="" style="margin-bottom:15px;">
                                        <span class="admin">Admin</span>
                                        <button class="btn workload" id="btn-admin">...</button>
                                    </div>
                                    <div class="col-sm-6" data-entity="dpu" data-status="light">
                                        <span class="dpu">DPU</span>
                                        <button type="button" class="btn workload" id="btn-dpu">...</button>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <!-- End Workloads -->
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Kitchen Duty <span class="glyphicon glyphicon-apple ph-icon" aria-hidden="true"></span></div>
                        <div class="panel-body">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <span id="kd">Christy Hartner </span>
                            </div>
                            <div class="col-sm-4">
                                <a target="_parent" href="http://vrcentral/kitchen-cleanup/"> <span class="glyphicon glyphicon-th-list" id="kd-list" data-toggle="tooltip" title="See list..."></span></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Kitchen Panel -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">Postage and BRE Rates</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <table>
                                        <thead>
                                            <th>Postage</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1oz</td>
                                                <td>$0.50</td>
                                            </tr>
                                            <tr>
                                                <td>2oz</td>
                                                <td>$0.65</td>
                                            </tr>
                                            <tr>
                                                <td>3oz</td>
                                                <td>$0.80</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <table>
                                        <thead>
                                            <th>BREs</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1oz</td>
                                                <td>$0.568</td>
                                            </tr>
                                            <tr>
                                                <td>2oz</td>
                                                <td>$0.778</td>
                                            </tr>
                                            <tr>
                                                <td>3oz</td>
                                                <td>$0.988</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Postage Rate -->
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Announcements
                            <button id="btnShowFormAnn" class="ph-icon special"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span></button>
                        </div>
                        <div class="panel-body">
                            <p>
                                <ul class="list-group" id="ulAnn">
                                </ul>
                            </p>
                        </div>
                        <!-- End panel body -->
                    </div>
                    <!-- End Announcements -->

                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">I.T. Support
                            
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4 text-center" style="padding: 0;">
                                <a target="_parent" href="http://vrcentral/helpdesk/" class="btn btn-default">Submit a Ticket</a>
                            </div>
                            <div class="col-sm-4"></div>                            
                        </div>
                        <!-- End panel body -->
                    </div>
                    <!-- End I.T. Support -->

                    
                </div>
            </div>
            <!--End Sub-row -->
        </div>
        <!--END LEFT COLUMN -->
        <div class="col-lg-4">
            <!-- RIGHT COLUMN -->
            <div class="panel panel-default">
                <!-- CALENDAR -->
                <!-- Default panel contents -->
                <div class="panel-heading" style="margin-top:-10px;">Calendar
                    <button id="btnShowFormCal" class="ph-icon special"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></button>
                </div>
                <div class="panel-body">
                    <div id="calendar"></div>
                </div>
            </div>
            <!--END CALENDAR -->
        </div>
        <!--END RIGHT COLUMN -->
    </div>
    <!--END ALL ENCOMPASSING ROW -->
    <hr>
</div>
<!-- End container -->
<div id="mdls">
    <!--Anouncement Modal-->
    <div class="modal fade" id="modalFormAnn">
        <div class="modal-dialog" role="document" id="mdlFa">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add Announcement</h4>
                </div>
                <div class="modal-body">
                    <form id="formAnn">
                        <div class="form-group has-danger">
                            {{!--
                            <label for="txtAnn" class="form-control-label">Text</label> --}}
                            <input type="text" class="form-control form-control-danger" id="txtAnn" name="txtAnn" style="width: 100%;">
                            <small class="form-text text-muted" style="color: white;">This field is required</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="btnSubmitFormAnn">Submit</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!--Calendar Modal-->
    <div class="modal fade" id="modalFormCal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add Calendar Entry</h4>
                </div>
                <div class="modal-body">
                    <form id="formCal">
                        <div class="form-group">
                            <label for="txtCal">Event</label>
                            <input type="text" id="txtCalendar" class="form-control">
                            <small class="form-text text-muted" style="color: white;">This field is required</small>
                        </div>
                        <div class="form-group">
                            <label for="when">Date</label>
                            <small class="form-text text-muted" style="color: white;">This field is required</small>
                            <div class="input-group">
                                <input type="date" class="form-control" id="eventDate">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="fgEndDate">
                            <label for="endDate">End Date</label>
                            <small class="form-text text-muted" style="color: white;">This field is required</small> {{!--
                            <input id="endDate" name="endDate" type="date"> --}}
                            <div class="input-group">
                                <input type="date" class="form-control" id="eventEndDate">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="qMultipleDays">Mutiple Days</label>
                            <input type="checkbox" id="qMultipleDays">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnSubmitFormCal">Submit</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/helpers.js"></script>
<script type="text/javascript" src="/assets/js/script.js"></script>