.statusButton {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  border-width: thin;
  color:rgba(0, 0, 0, 0);
  /* margin-top: .5em; */
  display: inline-block;
}

.statusButton:active {
  transform: scale(1.35);
}

.statusIn {
  background-color: #98BA3C;
  border-color: #98BA3C;
}

.statusRemote {
  background-color: #1693A5;
  border-color: #1693A5;
}