/* @charset "utf-8"; */
/* CSS Document */

.container {
	width: 100%;
}

/*_____________________________ In/Out Board Status Buttons */

.btn-in, .btn-out, .btn-remote {
	height:20px;
	line-height:6px;
}

.btn-in:hover, .btn-out:hover, .btn-remote:hover {
	background-color:#fff;
}

.btn-in:focus, .btn-in:active:focus {
	background-color:#98BA3C;
	color:#fff;
}

.btn-out:focus, .btn-out:active:focus {
	background-color:#D41B29;
	color:#fff;
}

.btn-remote:focus, .btn-remote:active:focus {
	background-color:#1693A5;
	color:#fff;
}

.btn-in:focus, .btn-out:focus, .btn-remote:focus {
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

		/*_________*/
		

.in-label, .out-label, .remote-label {
  display: inline-block;
  position: relative;
  border: 1px solid #AAAAAA;
  border-radius:5px;
  background-color:#fff;
  color:#414042;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  font-weight:normal;
  padding: 0 15px;
  margin:0;
	
}

/*.in-label::before, .out-label::before, .remote-label::before {
  content: '';
  display: inline-block;
  position: absolute;
  color: #aaa;
}*/

.in-label {
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	left:5px;
}

.out-label {
	border-radius:0;
}

.remote-label {
	left:-5px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;

}

/*.in-label:hover, input:focus + .in-label {
  box-shadow: 0;
}*/
#iob-body {
	height: 35%;
	-webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    padding: 1em;
}



.in-label-checked { /*test class added by Eliot, */
  background-color: #98BA3C;
  color:#fff;
}

.out-label-checked {/*test class added by Eliot,*/
  background-color: #D41B29;
  color:#fff;
}


.remote-label-checked {/*test class added by Eliot*/
  background-color: #1693A5;
  color:#fff;
}


#calendar {
	height: 60em;
}

#kd {
	font-size: 1.5em;
	padding-left: 5em;
}

#kd-list {
	float: right;
	margin-bottom: 1em;
	font-size: 1.5em;
}

/*_____________________________ Buttons (General) */

button:focus {
	outline:0 !important; 
}


/*_____________________________ Tables (General) */

/*tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.table>tbody>tr>th {
	padding-left:15px;
}*/

/*_____________________________ TBA */

.ph-icon {
	display:inline-block;
	float:right;
	opacity:0.5;
}

img.vr-orbit {
	height:30px;
	width:30px;
}

a.navbar-brand {
	padding:10px 15px;
}

.kitchen-date-current {
	background-color: #1693A5;
	font-weight:normal;
	color:#fff;
}

.kitchen-date {
	background-color: rgba(0,0,0,.125);
	font-weight:normal;
	color: rgba(0,0,0,.5);
}

.list-group-item-current {
	background-color:#48BEC1;
	color:#fff;
}

.list-group-item-upcoming {
	opacity:0.5;
}

.h-flush {
	padding:15px 0px;
}

.h-unflush {
	padding:0px 15px;
}

.tsheets {
	background-color:#D41B29;
	color: #fff;
	opacity:0.9;
	border-radius:6px;
	position: fixed;
    top: 0;
	left:0;
	width:100%;
	z-index:900;
}

.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=50);
    opacity: .5;
}

.close:hover {
	opacity: .75;
	filter: alpha(opacity=75);
}

a.goto {
	color: #fff;
	text-decoration:underline;
}

.navbar-default {
	background-color:#1693A5;
	border-color: #1693A5;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #1693A5;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: rgba(255,255,255,0.1);
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #eee;
    border-color: #337ab7;
}


.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active,.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255,255,255,0.9);
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active,.navbar-default .navbar-nav>li>a:focus {
	color: #fff;
    background-color: rgba(255,255,255,0.1);
}

.navbar-default .navbar-nav>li>a.dropdown-toggle {
	color: #fff;
}

.navbar-default .navbar-nav>li>a.dropdown-toggle:hover, .navbar-default .navbar-nav>li>a.dropdown-toggle:focus {
	color: #fff;
	background-color: rgba(255,255,255,0.1);
}

.navbar-default .navbar-nav>li.active>a {
    color: #fff;
	background-color: #1693A5;

}

.navbar-default .navbar-nav>li.active>a:hover, .navbar-default .navbar-nav>li.active>a:focus,.navbar-default .navbar-nav>li.active>a:active { 
	color: #fff;
	background-color: rgba(255,255,255,0.1);
}

.search {
	background-color: #48BEC1;
	color: #fff;
	border: 1px solid #48BEC1;
}

.search::-webkit-input-placeholder { color: rgba(255,255,255,0.75); }
.search:-moz-placeholder { color: rgba(255,255,255,0.75); }
.search::-moz-placeholder { color: rgba(255,255,255,0.75); }
.search:-ms-input-placeholder { color: rgba(255,255,255,0.75); }

.searchSubmit {
	background-color: #48BEC1; 
	color: #fff;
	border: 1px solid #48BEC1;
}



.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default button.navbar-toggle {border:0;}

.navbar-default button.navbar-toggle:focus,
.navbar-default button.navbar-toggle.collapsed:hover{ background-color:rgba(255,255,255,.25);
}

.searchSubmit:hover {
	background-color:#48BEC1;
	border-color:#48BEC1;
	color:#fff;
}

.notToday {opacity:0.5;}

.removeEvent {
	float:right;
	padding-left:5px;
	line-height:18px;
	opacity:0.5;
}

.removeEvent:hover {
	opacity:.7;
	color:#D41B29;
}

.eventDay {
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
}

.otherButtons {}

.jumbotron {
	background-color: transparent;
	margin-bottom:0;
	
}

.container .jumbotron {
	padding-left:15px;
	padding-right:15px;
}

.smallText {
	font-size:10.5px;
}

.coreValues {
	font-size:10.5px;
	font-style:italic;
}

.vrGreen {
	color:#98BA3C;
}

.vrBlue {
	color:#1693A5;
}

.vrRed {
	color:#D41B29;
}

.vrGray {
	color:#414042;
}

.ioh {
	line-height:30px;
}

#calendar {
  max-height: 100vh;
  overflow: auto;
}

/****************/
.calDay {
  width: 95%;
  margin: 10px;
  /*display: inline-flex;*/
}

.calDay > ul {
  width: 100%;
}

.ann-del {
  float: right;
}

.del-cal-item {
	float: right;
}

/*********************/
.admin, .dpu {
    background-color: rgba(0,0,0,0.05);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px 15px;
    border: 1px solid rgba(0,0,0,0.1);
 }

.workload {
	margin-left: -5px;
	width: 10em;
	padding-top: 8px;
	padding-bottom: 8px;
	/*height: 2.8em;*/
	color: #fff;
	transform: translateY(-1px);
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.light {
	background-color:#98BA3C;
}

.mod {
	background-color:#1693A5;
}

.heavy {
	background-color:#D41B29;
}

.removeEvent {
	float:right;
	line-height:18px;
	opacity:0.25;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

.removeEvent:hover {
	opacity:.7;
	color:#D41B29;
}

/*********************/

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #fff;
    background-color: transparent;
	opacity:1;
}
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color:#fff;
	opacity:0.85;
}
}